*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
.username{
    color: white;
    font-family: "Oregano", cursive;
    margin-right: 10px;
    padding-top: 2px;
    /* text-align: center; */
    /* border: 1px solid red; */
}
header{
    width: 100%;
    /* height: 100vh; */
}
header nav{
    width: 100%;
}
header nav div{
    background-color: #0F5061;
}
#navlinks{
    background: transparent;
    display: flex;
    align-items: center;
}
#navlinks li .link{
    color: white;
    padding: 5px 10px;
    position: relative;
} 
#navlinks li .link:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid white;
    transition: 0.4s linear;
}
#navlinks li .link:hover{
    background: transparent;
}
#navlinks li .link:hover:before{
    width: 100%;

}
#navbar-sticky{
    /* border: 1px solid red; */
    width: 90%;
    padding-block: 4px;
}
.userDetail{
    width: 300px;
    text-align: center;
    margin-left: 40px;
    /* border: 1px solid red; */
}
.login{
    color: white;
    border: 1px solid white;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 20px;
    font-size: 12px;
}
.highlight{
    border: 1px solid white;
    padding-block: 5px;
    background-color: white;
}
.highlight p{
    color: #333;
    font-weight:700;
    width: max-content;
    animation: scrolling 24s linear infinite;
}

.cartview{
    /* border: 1px solid red; */
    margin-top: 100px;
    padding-inline: 10%;
    width: 100%;
    padding-block:20px ;
}
.removebtn{
    color: #ed4337;
    font-weight: 600;
}
.title{
    font-size:45px;
    text-align: center;
    font-family: "Oregano", cursive;
}

.carticon{
    position: relative;
    padding-top: 5px;
    padding-right: 5px;
}
.carticon::after{
    content: attr(current-count);
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ed4337;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: white;
}
.grandtotal{
    color: #333;
    font-size:medium;
}
.checkoutdiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-block: 10px;
    padding-inline: 50px;
}
.checkoutdiv form button{
    background-color: #0F5061;
    color: #fff;
    /* border: 1px solid black; */
    padding-inline: 25px;
    padding-block: 8px;
    border-radius: 25px;
    font-size: small;
}