*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
.username{
    color: white;
    font-family: "Oregano", cursive;
    margin-right: 10px;
    padding-top: 2px;
    /* text-align: center; */
    /* border: 1px solid red; */
}
header{
    width: 100%;
    /* height: 100vh; */
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('');
    background-size: cover;
}
header nav{
    width: 100%;
}
header nav div{
    background-color: #0F5061;
}
#navlinks{
    background: transparent;
    display: flex;
    align-items: center;
}
#navlinks li .link{
    color: white;
    padding: 5px 10px;
    position: relative;
} 
#navlinks li .link:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid white;
    transition: 0.4s linear;
}
#navlinks li .link:hover{
    background: transparent;
}
#navlinks li .link:hover:before{
    width: 100%;

}
#navbar-sticky{
    /* border: 1px solid red; */
    width: 90%;
    padding-block: 4px;
}
.userDetail{
    width: 300px;
    text-align: center;
    margin-left: 40px;
    /* border: 1px solid red; */
}
.login{
    color: white;
    border: 1px solid white;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 20px;
    font-size: 12px;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.content h1{
    color: white;
    font-size:70px;
    font-family: "Oregano", cursive;
}
.content p{
    width: 45%;
    text-align: center;
}

#footer{
    background-color: #0F5061;
    width: 100%;
}
.section1{
    border: 1px solid red;
    height: 100vh;
}
.carticon{
    position: relative;
    padding-top: 5px;
    padding-right: 5px;
}
.carticon::after{
    content: attr(current-count);
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ed4337;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: white;
}

.invoice{
    margin-block: 90px;
    /* border: 1px solid red; */
    padding-inline: 100px;
}
.companyName{
    /* border: 1px solid red; */
    margin-block: 10px;
    padding-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companyName h4{
    font-size: x-large;
    font-weight: 600;
}
.details{
    /* border: 1px solid #333; */
    margin-block: 10px;
    padding-block: 20px;
    padding-inline: 20px;
    display: flex;
    border-radius: 10px;
    justify-content:space-between;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */

}
.userdetail p{
    font-size: 16px;
}
.userdetail p span{
    font-size: 16px;
    font-weight: bold;
}
.invoiceDetail p{
    font-size: 16px;
}
.invoiceDetail p span{
    font-size: 16px;
    font-weight: bold;
}
.radio{
    margin-top: 10px;
}
.payment{
    margin-block:10px;
}
.paybtn{
    background-color: #0F5061;
    color: #fff;
    /* border: 1px solid black; */
    padding-inline: 25px;
    padding-block: 8px;
    border-radius: 25px;
    font-size: small;
    margin-top: 20px;
}