body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.container{
      /* border: 1px solid red;   */
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.registerform{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.registerform button{
    width: 40%;
    border-radius: 30px;
    margin-top: 10px;
    padding-block: 8px;
    color: white;
    background-color: #0F5061;

}
.title{
    font-size:40px;
    font-family: "Oregano", cursive;
    margin-bottom: 20px;
}
.forgotpassword{
    color: blue;
    text-decoration: underline;
    margin-block: 5px;
}
.loginlink{
    color: blue;
    text-decoration: underline;
}

/* for small devices */
@media (max-width: 599px) {
    .title{
        font-size:25px;
        font-family: "Oregano", cursive;
        margin-bottom: 20px;
    }
}