*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
.username{
    color: white;
    font-family: "Oregano", cursive;
    margin-right: 10px;
    padding-top: 2px;
    /* text-align: center; */
    /* border: 1px solid red; */
}
header{
    width: 100%;
    height: 75vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('../img/ZachumRestaurant/reservation.JPG');
    background-size: cover;
}
header nav{
    width: 100%;
}
header nav div{
    background-color: #0F5061;
}
#navlinks{
    background: transparent;
    display: flex;
    align-items: center;
}
#navlinks li .link{
    color: white;
    padding: 5px 10px;
    position: relative;
} 
#navlinks li .link:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid white;
    transition: 0.4s linear;
}
#navlinks li .link:hover{
    background: transparent;
}
#navlinks li .link:hover:before{
    width: 100%;

}
#navbar-sticky{
    /* border: 1px solid red; */
    width: 90%;
    padding-block: 4px;
}
.userDetail{
    width: 300px;
    text-align: center;
    margin-left: 40px;
    /* border: 1px solid red; */
}
.login{
    color: white;
    border: 1px solid white;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 20px;
    font-size: 12px;
}
.highlight{
    border: 1px solid white;
    padding-block: 5px;
    background-color: white;
}
.highlight p{
    color: #333;
    font-weight:700;
    width: max-content;
    animation: scrolling 24s linear infinite;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.content h1{
    color: white;
    font-size:70px;
    font-family: "Oregano", cursive;
}
.content p{
    width: 45%;
    text-align: center;
}
#footer{
    background-color: #0F5061;
    width: 100%;
}
#reservebtn{
    background-color: #0F5061;
    border-radius: 30px;
}
.highlight{
    border: 1px solid white;
    padding-block: 5px;
    background-color: white;
}
.highlight p{
    color: #333;
    font-weight:700;
    width: max-content;
    animation: scrolling 24s linear infinite;
}
#header{
    font-family: "Oregano", cursive;
    font-size: 45px;
}
.carticon{
    position: relative;
    padding-top: 5px;
    padding-right: 5px;
}
.carticon::after{
    content: attr(current-count);
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ed4337;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: white;
}
@keyframes scrolling {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}